<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="cim" type="Cim.Config.CimConfig, Cim.Domain" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <add name="pie" connectionString="server=127.0.0.1;port=5433;database=pie_v2;user id=pieuser;password=1234lge" providerName="Npgsql" />
    <!--<add name="pie" connectionString="server=127.0.0.1;database=pie_v2;user id=pieuser;password=1234lge" providerName="Npgsql" />-->
    <!--<add name="pie" connectionString="server=192.168.33.212;database=cmi;user id=pieuser;password=1234lge" providerName="Npgsql" />-->
  </connectionStrings>

  <cim addressMapFileName="AddressMap_Modbus_Test1.xlsx">
    <csvFile WriteColumnCsvFile="true" StoreDateOfColumnCsv="30" DateTimeFormatOfColumnCsv="yyyy.MM.dd HH" ColumnCsvFilePath="d:\PIE\CIM\CSV" />

    <!--<mq userName="rabbituser" password="1234lge" virtualHost="/" hostname="192.168.33.212" hostnames="192.168.33.212" port="5672" exchange="mainMirror" />-->

  </cim>

  <appSettings>
    <!--<add key="WriteColumnCsvFile" value="true" />
    <add key="StoreDateOfColumnCsv" value="30" />
    <add key="DateTimeFormatOfColumnCsv" value="yyyy.MM.dd HH" />
    <add key="ColumnCsvFilePath" value="d:\PIE\CIM\CSV" />-->
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="false" throwExceptions="false">
    <targets>
      <!-- 콘솔, 디버거 -->
      <target name="Console" xsi:type="Debugger" layout="[${date:format=HH\:mm\:ss\:fff}] [${uppercase:${level}}] [${callsite:className=false}] ${message}" />
      <!-- udp -->
      <target name="AsyncUdp" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Block">
        <target name="udp" xsi:type="NLogViewer" address="udp4://localhost:7071" />
      </target>
      <!-- 설비(InitLogger에서 초기화) -->
      <target name="AsyncDevice" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Block">
        <target name="Device" xsi:type="File" fileName="${basedir}/logs/{loggername}.log" archiveFileName="${basedir}/archives/{controllerid}/{loggername}_{#}.log" concurrentWrites="false" keepFileOpen="true" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="30" layout="[${longdate}] [${uppercase:${level}}] [${callsite:className=false}] ${message}" />
      </target>
    </targets>
    <rules>
      <logger name="Device.*" minlevel="Trace" writeTo="Console,AsyncUdp" final="true" />
      <logger name="*" minlevel="Trace" writeTo="Console" final="true" />
    </rules>
  </nlog>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>