<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="isa" type="CIM3.Core.Configuration.ConfigSection, CIM3.Core"/>
  </configSections>

  <appSettings>
    <add key="WriteColumnCsvFile" value="true"/>
    <add key="StoreDateOfColumnCsv" value="30"/>
    <add key="DateTimeFormatOfColumnCsv" value="yyyy.MM.dd HH"/>
    <add key="ColumnCsvFilePath" value="d:\PIE\CIM\CSV"/>
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="false" throwExceptions="false">
    <targets>
      <!-- 콘솔, 디버거 -->
      <target name="Console" xsi:type="Debugger" layout="[${date:format=HH\:mm\:ss\:fff}] [${uppercase:${level}}] [${callsite:className=false}] ${message}"/>
      <!-- udp -->
      <target name="AsyncUdp" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Block">
        <target name="udp" xsi:type="NLogViewer" address="udp4://localhost:7071"/>
      </target>
      <!-- 전역 공통 -->
      <target name="AsyncCommon" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Block">
        <target name="Common" xsi:type="File" fileName="${basedir}/logs/common.log" archiveFileName="${basedir}/archives/common/common_{#}.log" concurrentWrites="false" keepFileOpen="true" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="30" layout="[${longdate}] [${uppercase:${level}}] [${callsite:className=false}] ${message}"/>
        <!-- archiveAboveSize = "1024" 로그파일 크기가 넘어가면 archive파일 생성. 성능 느림. 특히 멀티스레드는 현저히 저하 -->
      </target>
      <!-- 설비(BaseClient.InitLogger에서 초기화) -->
      <target name="AsyncDevice" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Block">
        <target name="Device" xsi:type="File" fileName="${basedir}/logs/{loggername}.log" archiveFileName="${basedir}/archives/{controllerid}/{loggername}_{#}.log" concurrentWrites="false" keepFileOpen="true" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="30" layout="[${longdate}] [${uppercase:${level}}] [${callsite:className=false}] ${message}"/>
      </target>
      <!-- 수집 데이터 미가공 -->
      <target name="AsyncRawData" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Block">
        <target name="RawData" xsi:type="File" fileName="${basedir}/logs/output/${date:format=yyyyMMdd}/rawdata_${date:format=HHmm}.csv" concurrentWrites="false" keepFileOpen="true">
          <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
            <column name="ControllerID" layout="${event-context:item=ControllerID}"/>
            <column name="Time" layout="${event-context:item=Time}"/>
            <column name="Address" layout="${event-context:item=Address}"/>
            <column name="Value" layout="${event-context:item=Value}"/>
            <column name="RegisterDevice" layout="${event-context:item=RegisterDevice}"/>
          </layout>
        </target>
      </target>
      <!-- 수집 데이터 가공(BaseClient.InitMessageLogger에서 초기화) -->
      <target name="AsyncMessageData" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Block">
        <target name="MessageData" xsi:type="File" fileName="${basedir}/logs/output/{controllerid}/${date:format=yyyy-MM-dd HH}.csv" archiveFileName="${basedir}/archives/output/{controllerid}/message/{#}.csv" concurrentWrites="false" keepFileOpen="true" archiveNumbering="DateAndSequence" archiveEvery="Hour" archiveDateFormat="yyyy-MM-dd HH" maxArchiveFiles="720" archiveAboveSize="5120000">
          <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
            <column name="Name" layout="${event-context:item=Name}"/>
            <column name="Time" layout="${event-context:item=Time}"/>
            <column name="Variable" layout="${event-context:item=Variable}"/>
            <column name="Address" layout="${event-context:item=Address}"/>
            <column name="Value" layout="${event-context:item=Value}"/>
            <column name="AlarmCode" layout="${event-context:item=AlarmCode}"/>
            <column name="AddressDataType" layout="${event-context:item=AddressType}"/>
          </layout>
        </target>
      </target>
      <!-- EIF 통신 히스토리 -->
      <target name="AsyncFLSendMessage" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Block">
        <target name="FLSendMessage" xsi:type="File" fileName="${basedir}/logs/FactoryLync.csv" archiveFileName="${basedir}/archives/FL/{#}.csv" concurrentWrites="false" keepFileOpen="true" archiveEvery="Hour" maxArchiveFiles="120" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd HH">
          <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
            <column name="time" layout="${longdate}"/>
            <column name="message" layout="${message}"/>
          </layout>
        </target>
      </target>
      <!-- AddressMap to PIE 업데이트 -->
      <target name="AsyncPie" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Block">
        <target name="Pie" xsi:type="File" fileName="${basedir}/logs/pie.log" archiveFileName="${basedir}/archives/pie/pie{#}.log" concurrentWrites="false" keepFileOpen="true" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="30" layout="[${longdate}] [${uppercase:${level}}] [${callsite:className=false}] ${message}"/>
      </target>
    </targets>
    <rules>
      <logger name="DefaultLogger" minlevel="Trace" writeTo="Console,AsyncUdp,AsyncCommon" final="true"/>
      <logger name="Device.*" minlevel="Trace" writeTo="Console,AsyncUdp" final="true"/>
      <logger name="MessageDataLogger" minlevel="Trace" final="true"/>
      <logger name="RawDataLogger" minlevel="Trace" writeTo="AsyncRawData" final="true"/>
      <logger name="TransferLogger" minlevel="Trace" writeTo="AsyncUdp,AsyncFLSendMessage" final="true"/>
      <logger name="NotchingLogger" minlevel="Trace" writeTo="AsyncNotchingData" final="true"/>
      <logger name="VisionLogger" minlevel="Trace" writeTo="AsyncVisionData" final="true"/>
      <logger name="PieLogger" minlevel="Trace" writeTo="AsyncPie" final="true"/>
      <logger name="*" minlevel="Trace" writeTo="Console,AsyncCommon" final="true"/>
    </rules>
  </nlog>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>